* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@media (min-width:320px) and (max-width:1200px) {
    .body {
        display: grid;
        grid-template-areas:
            "header"
            "portada"
            "main"
            "contacto"
            "lovers"
            "footer";
    }

    .header {
        background: #1e1e1e;
        width: 100%;
        height: 30vh;
        grid-area: header;
    }

    /* Menu + Menu Upper */
    .menu-upper {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        height: 1px;
        padding-top: 5px;
    }

    .menu-upper div a,
    box-icon {
        fill: white;
        margin: 0 5px;
    }


    .imglogo {
        width: 100px;
        height: 100px;
        line-height: 80px;
    }


    nav {
        color: white;
        font-size: 1.5rem;
        font-family: 'Lancelot', cursive;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        width: 100%;
        height: 100%;
    }



    .nav-link {
        color: white;
        text-decoration: none;
    }

    .menu-hamburguesa {
        cursor: pointer;
        font-size: 25px;

    }

    .menu-icon {
        margin: 20px;
    }

    .nav-menu {
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 30vh;
        background: rgba(0, 0, 0, 0.397);
        text-align: center;
        transition: all 1s;
    }

    .nav-menu li {
        display: none;
        line-height: 10px;
        margin: 50px 0;
        transition: all 2s;
    }

    .nav-menu li a {
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
    }

    .nav-menu li a.active,
    .nav-menu li a:hover {
        color: grey;
        transition: 2s;
    }

    #check {
        display: none;
    }

    #check:checked~.nav-menu {
        height: 100vh;
    }

    #check:checked~.nav-menu li {
        display: block;
    }
}

/* Main: Últimas publicaciones + Explore nuestra tienda */
.contenedormain {
    background-color: white;
    height: 300vh;
    position: relative;
    grid-area: main;
}

.portada {
    height: 500px;
    width: 100%;
    background-image: url(../Assests/img/portada.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    grid-area: portada;
}

.portada h2 {
    color: #1e1e1e;
    text-align: center;
}

.portada2 {
    height: 500px;
    width: 100%;
    background-image: url(../Assests/img/portada4.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

}

.alinear {
    color: white;
    text-align: center;
}

.portada3 {
    height: 500px;
    width: 100%;
    background-image: url(../Assests/img/portada3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.portada3-tittle {
    color: white;
    text-align: center;
}

.portada4 {
    height: 500px;
    width: 100%;
    background-image: url(../Assests/img/portada\ 2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.portada4 img {
    width: 40%;
}

h2 {
    color: black;
    font-size: 3rem;
    font-family: 'Homemade Apple', cursive;
    font-weight: 400;
    line-height: 4rem;
    text-align: center;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 10px;
}

h3 {
    color: black;
    font-size: 2rem;
    font-family: 'Lancelot', cursive;
    font-weight: 400;
}

h4 {
    color: black;
    font-size: 1.5rem;
    font-family: 'Lancelot', cursive;
    font-weight: 400;
}

h5 {
    color: black;
    font-size: 1.2rem;
    font-family: 'Lancelot', cursive;
    font-weight: 400;
}

.like-icon {
    fill: grey;
}

@media (min-width: 320px) and (max-width: 768px) {

    .carrusel {
        display: flex;
        flex-direction: row;
        overflow-y: auto;
        width: 90vw;
    }

    .carrusel_content {
        display: flex;
        flex-direction: row;
        width: fit-content;
    }

    .tarjeta {
        width: fit-content;
        margin-left: 10px;
        margin-right: 10px;
        height: 100%;
    }

    .tarjeta img {
        max-width: 200px;
        border-radius: 10px;
    }

    .tarjeta__text {
        text-align: center;
        color: coral;
        font-size: 0.7rem;
    }

    .tarjeta__tittle {
        color: coral;
        margin-top: 5px;
        font-size: 1rem;
    }

    .icon {
        text-align: center;
        color: coral;
        font-size: 0.7rem;
    }
}

.productos__tiendaestilos {
    grid-area: productos;
}

.productos__tiendaestilos a {
    color: #1e1e1e;
    text-decoration: none;
}

.productos__tiendaestilos p {
    text-align: right;
    text-decoration: underline;
}

.container-section-tienda {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}


.link_tiendaimg {
    border-radius: 10%;
    max-width: 80%;
    display: flex;
    box-shadow: 5px 8px 12px black;
}

.link_tienda p {
    color: white;
    font-size: 0.9rem;
    position: initial;
    text-align: center;

    text-shadow: 0 0 8px #1e1e1e;
}

/*Contacto*/
.contacto {
    margin-top: 50px;
    grid-area: contacto;
    display: flex;
}

.contacto_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div2-img {
    width: 200px;
    border-radius: 10%;
    padding: 10px;
}

.div1 {
    display: flex;
    padding: 20px;
}

.div1-text {
    color: black;
    font-family: 'Lancelot', cursive;
    font-size: 0.9rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.boton-c {
    text-align: center;
    align-items: center;
}

.boton-c a {
    color: white;
    align-items: center;
}

.btn-style {
    position: relative;
    padding: 10px 10px;
    border: none;
    outline: none;
    background: #1e1e1e;
    color: grey;
    width: 50%;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: .5s;
}

.banner {
    grid-area: contacto;
    height: 60vh;
    max-width: 100%;
    background: #1e1e1e;
    display: flex;
}

.banner img {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
}

.container_lovers {
    grid-area: lovers;
    font-family: 'Lancelot', cursive;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}


.tarjeta__container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
}

.tarjeta {
    max-width: 40%;
}

.footer {
    aspect-ratio: 633/196;
    width: 90%;
    background-image: url(../Assests/img/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}