* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h2 {
  color: -- #1e1e1e;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4rem;
  text-align: center;
  display: inline-block;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
}

p, h5, h4, h3 {
  color: -- #1e1e1e;
  font-family: "Lancelot", cursive;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  margin-left: 15px;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

.prefooter {
  aspect-ratio: 633/196;
  width: 90%;
  background-image: url(../Assests/img/footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .body {
    position: relative;
    padding-bottom: 1rem;
  }
}
.footer {
  width: 100%;
  background-color: grey;
  padding: 1em 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .body {
    display: grid;
    grid-template-areas: "header" "portada" "main" "contacto" "contacto" "footer";
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .header {
    grid-area: header;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .portada {
    grid-area: portada;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .contenedormain {
    grid-area: main;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .contacto {
    margin-top: 50px;
    grid-area: contacto;
    max-width: 100%;
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .banner {
    grid-area: contacto;
    height: 60vh;
    max-width: 100%;
    background: #1e1e1e;
    display: flex;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .container_lovers {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 1024px) {
  .footer {
    grid-area: footer;
  }
}

.body {
  position: relative;
  padding-bottom: 1rem;
}
@media (min-width: 1024px) {
  .body {
    display: grid;
    grid-template-areas: "header" "portada" "main" "contacto" "lovers" "footer";
  }
}

@media (min-width: 1024px) {
  .header {
    grid-area: header;
    background: #1e1e1e;
    width: 100%;
    height: 30vh;
  }
}

@media (min-width: 1024px) {
  .portada {
    grid-area: portada;
  }
}

@media (min-width: 1024px) {
  .contenedormain {
    grid-area: main;
  }
}

@media (min-width: 1024px) {
  .contacto {
    margin-top: 50px;
    grid-area: contacto;
    max-width: 100%;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .banner {
    grid-area: contacto;
    height: 60vh;
    max-width: 100%;
    background: #1e1e1e;
    display: flex;
  }
}

@media (min-width: 1024px) {
  .container_lovers {
    grid-area: lovers;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .tarjeta__container {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .tarjeta {
    max-width: 40%;
    margin: 50px;
  }
}

@media (min-width: 1024px) {
  .footer {
    grid-area: footer;
  }
}

.perfil-contenedor {
  display: grid;
  grid-template-areas: "main" "likes";
}

.perfil-box {
  grid-area: main;
}

.perfil-likes {
  grid-area: likes;
}

.grid.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.div1-contacto {
  grid-area: 1/1/2/2;
}

.div2-contacto {
  grid-area: 1/2/2/3;
}

.quienes-somos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.div1-somos {
  grid-area: 1/1/2/2;
}

.div2-somos {
  grid-area: 1/2/2/3;
}

.obras-intro {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.categorias {
  grid-area: 1/1/2/2;
}

.categorias-text {
  grid-area: 1/2/2/3;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .header {
    background: #1e1e1e;
    max-width: 100%;
    height: 30vh;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .menu-upper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 1px;
    padding-top: 5px;
  }
  .menu-upper div a box-icon {
    fill: #1e1e1e;
    margin: 0 5px;
  }
  .imglogo {
    width: 100px;
    height: 100px;
    line-height: 80px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu {
    width: 100%;
    height: 100%;
  }
  .nav-link {
    color: white;
    text-decoration: none;
    transition: all 300ms;
  }
  .nav-link:hover {
    color: grey;
    transition: all 400ms;
  }
  .nav-link {
    color: white;
    text-decoration: none;
  }
  .menu-hamburguesa {
    cursor: pointer;
    font-size: 25px;
  }
  .menu-icon {
    margin: 20px;
  }
  .nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 30vh;
    background: rgba(0, 0, 0, 0.397);
    text-align: center;
    transition: all 1s;
  }
  .nav-menu li {
    display: none;
    line-height: 10px;
    margin: 50px 0;
    transition: all 2s;
  }
  .nav-menu li a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    color: -- white;
    font-family: "Lancelot", cursive;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-menu li a.active,
.nav-menu li a:hover {
    color: grey;
    transition: 2s;
  }
  #check {
    display: none;
  }
  #check:checked ~ .nav-menu {
    height: 100vh;
  }
  #check:checked ~ .nav-menu li {
    display: block;
  }
  .nav-link-lover {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    visibility: hidden;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    align-items: center;
    display: flex;
  }
  .menu-hamburguesa {
    display: none;
  }
  #check {
    display: none;
  }
  .nav-menu {
    position: relative;
    top: 0;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
  }
  .nav-menu li {
    display: inline-block;
    margin: 0 20px;
    transition: none;
  }
  .nav-menu li a {
    font-size: 1.5rem;
  }
  .nav-menu li a svg {
    fill: white;
  }
  .header {
    background: #1e1e1e;
    width: 100%;
    height: 150px;
  }
  .menu-upper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
    height: 1px;
    padding-top: 6px;
  }
  .imglogo {
    width: 100px;
    height: 100px;
    line-height: 80px;
  }
  nav {
    color: white;
    font-size: 1.5rem;
    font-family: "Lancelot", cursive;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
  }
  .menu {
    width: 90%;
  }
  .menu a {
    margin-top: 100px;
  }
  .menu .logo {
    margin-top: 25px;
  }
  .nav-link {
    text-decoration: none;
    color: white;
  }
  .nav-link-lover {
    text-decoration: none;
    color: white;
    transition: all 300ms;
  }
  .nav-link-lover:hover {
    color: grey;
    transition: all 400ms;
  }
}
.input-upper {
  outline: none;
  box-sizing: border-box;
  position: absolute;
  top: 11px;
  right: 152px;
  height: 10px;
  width: 0;
  padding: 0 10px;
  color: #1e1e1e;
  border-radius: 60px;
  font-size: 20px;
  border: 1px solid white;
  transition: all 0.5s ease;
}

::placeholder {
  color: grey;
}

.search-icon {
  position: absolute;
  top: 3px;
  right: 150px;
  width: 40px;
  height: 40px;
  background: grey;
  border-radius: 50px;
  line-height: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
.search-icon svg {
  padding-top: 8px;
  padding-right: 10px;
  transition: all 0.7 ease;
}

.container-search:hover input {
  width: 150px;
  height: 25px;
}

.contenedormain {
  background-color: white;
  height: 300vh;
  position: relative;
}

.portada {
  height: 500px;
  width: 100%;
  background-image: url(../Assests/img/portada.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portada h2 {
  color: #1e1e1e;
  text-align: center;
}

.portada2 {
  height: 500px;
  width: 100%;
  background-image: url(../Assests/img/portada4.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portada3 {
  height: 500px;
  width: 100%;
  background-image: url(../Assests/img/portada3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portada3-tittle {
  color: white;
  text-align: center;
}

.portada4 {
  height: 500px;
  width: 100%;
  background-image: url(../Assests/img/portada\ 2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portada4 h2 {
  color: white;
}
.portada4 img {
  width: 40%;
}

.carousel-item {
  height: 30rem;
  width: 30rem;
}

.carousel-caption h5 {
  color: azure;
  font-size: 2rem;
}
.carousel-caption p {
  color: azure;
  font-size: 1.2rem;
}

@media (min-width: 320px) and (max-width: 800px) {
  .carousel-item {
    height: 20rem;
    width: 80%;
  }
  .carousel-item img {
    width: 90%;
    display: flex;
    object-fit: contain;
  }
  .carousel-caption h5 {
    color: white;
    font-size: 2rem;
  }
  .carousel-caption p {
    color: white;
    font-size: 1.2rem;
  }
}
.intro-contact {
  display: flex;
  height: 50vh;
  justify-content: center;
  margin: 3%;
  align-items: center;
  background-color: rgb(207, 213, 213);
  border-radius: 15px;
}
.intro-contact-text {
  margin: 30px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .container-footer {
    padding-left: 40px;
  }
}
@media (min-width: 1024px) {
  .container-footer {
    padding-left: 130px;
  }
}

.div1-contacto h3 {
  text-align: center;
}
.div1-contacto-text {
  text-align: center;
  margin-bottom: 20px;
}

.div2-contacto h4, .div2-contacto h5 {
  text-align: center;
  margin: 20px;
  color: white;
}
.div2-contacto-inputs {
  text-align: center;
}
.div2-contacto-formulario {
  width: 400px;
  margin: auto;
  background-color: #1e1e1e;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 20px;
}
.div2-contacto-formulario input, .div2-contacto-formulario textarea, .div2-contacto-formulario button {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  font-family: "Lancelot", cursive;
  border-radius: 10px;
  border: none;
}
.div2-contacto-formulario textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}

#boton {
  background: grey;
  padding: 20px;
  margin-top: 5px;
  transition: all 0.5s ease;
}
#boton:hover {
  cursor: pointer;
  background: rgb(207, 213, 213);
  color: #1e1e1e;
}

.btn btn-primary {
  text-align: center;
}

.perfil-background {
  width: 100%;
  background-image: url(../Assests/img/portada\ 2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.perfil-contenedor {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.808);
  border-radius: 10px;
  padding: 20px;
}
.perfil-box {
  background-color: white;
  text-align: center;
  padding: 40px 90px;
  color: #1e1e1e;
  border-radius: 20px;
}
.perfil-box button {
  background-color: grey;
  color: #1e1e1e;
  font-family: "Lancelot", cursive;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(30, 30, 30, 0.4823529412);
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 20px;
  transition: all 430ms;
}
.perfil-box button:hover {
  background-color: #1e1e1e;
  color: white;
  padding: 10px 30px;
  transition: all 400ms;
}
.perfil-pic {
  width: 250px;
  border-radius: 70%;
  background: grey;
  padding: 6px;
}
.perfil-likes {
  max-width: 900px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.likes-card {
  width: 250px;
  background: white;
  margin: 10px;
  border-radius: 10px;
  transition: all 300ms;
}
.likes-card:hover {
  width: 300px;
  transition: all 400ms;
}
.likes-card img {
  width: 90%;
  margin: 10px;
  border-radius: 10px;
}

.like-title {
  color: #1e1e1e;
  font-size: 1rem;
  font-family: "Homemade Apple", cursive;
  text-align: center;
}

.like-input {
  padding: 10px 40px;
  margin: 20px;
  border: none;
  font-size: 14px;
  background-color: rgb(207, 213, 213);
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
  justify-content: center;
}
.like-input:hover {
  background-color: #1e1e1e;
  color: white;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .perfil-background {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
h3 {
  margin-left: 15px;
}

.contenedor-categorias {
  background-color: #1e1e1e;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contenedor-categorias hr {
  color: white;
  width: 100%;
}
.contenedor-categorias h3 {
  color: white;
}
.contenedor-categorias ul {
  display: inline-block;
  text-align: center;
}
.contenedor-categorias ul li {
  color: white;
  text-align: center;
}
.contenedor-categorias ul li a {
  text-decoration: none;
}
.contenedor-categorias ul li a h3 {
  color: white;
  margin: 20px;
}

.div1-contacto-text {
  color: #1e1e1e;
}

.categorias-text {
  display: flex;
  align-items: center;
}

.tarjeta {
  height: 50vh;
  width: 90%;
  overflow: hidden;
  margin: auto;
  margin: 5px;
  padding: 10px 30px;
  border-radius: 2%;
  border: 3px solid white;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  background: linear-gradient(-135deg, white, coral);
}
.tarjeta:hover {
  height: 80vh;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.tarjeta__encabezado img {
  position: relative;
  border-radius: 5px;
  display: block;
  height: 35vh;
  object-fit: cover;
  margin: auto;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  border: 5px solid white;
}

.icon2 {
  display: flex;
  justify-content: space-evenly;
}

.portada3-tittle {
  transition: all 300ms;
}
.portada3-tittle:hover {
  font-size: 2.2rem;
  transition: all 400ms;
}

.div1-somos {
  height: 700px;
  width: 100%;
  background-image: url(../Assests/png/Sostre\ Art\ logo2aa.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1-somos-background {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div1-somos-background h3 {
  color: #1e1e1e;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.div1-somos-text {
  color: #1e1e1e;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}
.div1-somos-img {
  border-radius: 10%;
  height: 50vh;
  width: 50vh;
  align-content: center;
  transition: all 300ms;
}
.div1-somos-img:hover {
  width: 60vh;
  height: 60vh;
  transition: all 400ms;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .div1-somos .div1-somos {
    height: 500px;
    width: 100%;
    background-image: url(../Assests/png/Sostre\ Art\ logo2aa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div1-somos .div1-somos-background {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div1-somos .div1-somos-background h3 {
    color: #1e1e1e;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
  .div1-somos .div1-somos-text {
    color: #1e1e1e;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .div1-somos .div1-somos-img {
    border-radius: 10%;
    height: 30vh;
    width: 30vh;
    align-content: center;
    transition: all 300ms;
  }
  .div1-somos .div1-somos-img:hover {
    width: 35vh;
    height: 35vh;
    transition: all 400ms;
  }
}

.div2-somos {
  height: 700px;
  width: 100%;
  background-image: url(../Assests/png/Sostre\ Art\ logo2bb.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2-somos-background {
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.div2-somos-background h3 {
  color: #1e1e1e;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}
.div2-somos-text {
  color: #1e1e1e;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}
.div2-somos-img {
  border-radius: 10%;
  height: 50vh;
  width: 50vh;
  margin-bottom: 10px;
  transition: all 300ms;
}
.div2-somos-img:hover {
  width: 60vh;
  height: 60vh;
  transition: all 400ms;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .div2-somos .div2-somos {
    height: 700px;
    width: 100%;
    background-image: url(../Assests/png/Sostre\ Art\ logo2bb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .div2-somos .div2-somos-background {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div2-somos .div2-somos-background h3 {
    color: #1e1e1e;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
  }
  .div2-somos .div2-somos-text {
    color: #1e1e1e;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
  .div2-somos .div2-somos-img {
    border-radius: 10%;
    height: 30vh;
    width: 30vh;
    margin-bottom: 10px;
    transition: all 300ms;
  }
  .div2-somos .div2-somos-img:hover {
    width: 35vh;
    height: 35vh;
    transition: all 400ms;
  }
}

.portada-tittle {
  transition: all 300ms;
}
.portada-tittle:hover {
  font-size: 2.1rem;
  transition: all 400ms;
  color: white;
}

.productos__tiendaestilos {
  margin-left: 50px;
}
.productos__tiendaestilos a {
  color: #1e1e1e;
  text-decoration: none;
}
.productos__tiendaestilos p {
  text-align: right;
  text-decoration: underline;
}

.container-section-tienda {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
}

.link_tiendaimg {
  border-radius: 10%;
  max-width: 80%;
  display: flex;
  box-shadow: 5px 8px 12px black;
}

.link_tienda p {
  color: white;
  font-size: 0.9rem;
  position: initial;
  text-align: center;
  text-shadow: 0 0 8px #1e1e1e;
}

.contacto {
  margin-top: 50px;
  display: flex;
}
.contacto_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div2-img {
  width: 200px;
  border-radius: 10%;
}

.div1 {
  display: flex;
  padding: 20px;
}
.div1-text {
  font-size: 0.9rem;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.boton-c {
  text-align: center;
  align-items: center;
}
.boton-c a {
  color: white;
  align-items: center;
}

.btn-style {
  position: relative;
  padding: 10px 10px;
  border: none;
  outline: none;
  background: #1e1e1e;
  color: grey;
  width: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.banner {
  height: 60vh;
  max-width: 100%;
  background: #1e1e1e;
  display: flex;
}
.banner img {
  width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
}

@media screen and (min-width: 1024px) {
  .banner {
    height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
