@media (min-width:320px) and (max-width:1024px) {
    .menu-upper {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        height: 1px;
        padding-top: 5px;

        div {
            a {
                box-icon {
                    fill: $color-primario;
                    margin: 0 5px;
                }
            }
        }
    }

    .imglogo {
        width: 100px;
        height: 100px;
        line-height: 80px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu {
        width: 100%;
        height: 100%;
    }

    .nav-link {
        color: $color-secundario;
        text-decoration: none;
        transition: all 300ms;
            &:hover {
                color: $color-hover;
                transition: all 400ms;
            }
    }

    .nav-link {
        color: $color-secundario;
        text-decoration: none;
    }

    .menu-hamburguesa {
        cursor: pointer;
        font-size: 25px;

    }

    .menu-icon {
        margin: 20px;
    }

    .nav-menu {
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 30vh;
        background: rgba(0, 0, 0, 0.397);
        text-align: center;
        transition: all 1s;

        li {
            display: none;
            line-height: 10px;
            margin: 50px 0;
            transition: all 2s;

            a {
                color: $color-secundario;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 400;
                color: --$color-secundario;
                font-family: 'Lancelot', cursive;
                font-weight: 400;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
        }
    }

    .nav-menu li a.active,
    .nav-menu li a:hover {
        color: $color-hover;
        transition: 2s;
    }

    #check {
        display: none;
    }

    #check:checked~.nav-menu {
        height: 100vh;
    }

    #check:checked~.nav-menu li {
        display: block;
    }

    .nav-link-lover {
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        visibility: hidden;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        align-items: center;
        display: flex;
    }

    .menu-hamburguesa {
        display: none;
    }

    #check {
        display: none;
    }

    .nav-menu {
        position: relative;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;

        li {
            display: inline-block;
            margin: 0 20px;
            transition: none;

            a {
                font-size: 1.5rem;
                svg {
                    fill: $color-secundario;
                }
            }
        }
    }

    .header {
        background: $color-primario;
        width: 100%;
        height: 150px;

    }

    .menu-upper {
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        height: 1px;
        padding-top: 6px;
    }


    .imglogo {
        width: 100px;
        height: 100px;
        line-height: 80px;

    }


    nav {
        color: $color-secundario;
        font-size: 1.5rem;
        font-family: 'Lancelot', cursive;
        font-weight: 400;
        display: flex;
        justify-content: space-between;
    }

    .menu {
        width: 90%;

        a {
            margin-top: 100px;
        }
    }


    .menu .logo {
        margin-top: 25px;
    }

    .nav-link {
        text-decoration: none;
        color: $color-secundario;
        &-lover {
            text-decoration: none;
            color: $color-secundario;
            transition: all 300ms;
            &:hover {
                color: $color-hover;
                transition: all 400ms;
            }
        }
    }

}

.input-upper {
    outline: none;
    box-sizing: border-box;
    position: absolute;
    top: 11px;
    right: 152px;
    height: 10px;
    width: 0;
    padding: 0 10px;
    color: $color-primario;
    border-radius: 60px;
    font-size: 20px;
    border: 1px solid $color-secundario;
    transition:all .5s ease;
}

::placeholder {
    color: $color-hover;
}

.search-icon {
    position: absolute;
    top: 3px;
    right: 150px;
    width: 40px;
    height: 40px;
    background: $color-hover;
    border-radius: 50px;
    line-height: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    svg {
        padding-top: 8px;
        padding-right: 10px;
        transition: all .7 ease;
    }
}

.container-search:hover {
    input {
        width: 150px;
        height: 25px;
    }
}